<% include ../partials/header.ejs%>

<div class="container">
    <h1 style="text-align:center;"> Add new comment to <%= campground.name%></h1> 
    <div style="width: 60%; margin:0 auto;">
        <form action="/campground/<%=campground._id%>/comments" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="comment[text]" placeholder="Text">
            </div>
            <button class="btn btn-default btn-block" type="submit">Submit</button>
        </form>
    </div>
</div>